{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cart</h1>
   
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>ID Product</th>
                <th>Quantity</th>
                <th>YourID</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
         {% for p in pro %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.quantity }}</td>
                <td>{{ p.proid }}</td>
                
                {# <td>{{ p.usercart}}</td> #}
                
            </tr>
        {% endfor %}
        <button href = ''>Check out</button>
        </tbody>
    </table>


{% endblock %}
