{% extends 'base.html.twig' %}

{% block title %}Contact!{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      
      <div class="col-lg-5 col-sm-6 mb-5">
        <h2 class="font-weight-bold mb-4">Central Office</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
        <ul class="list-unstyled contact-list">
          <li class="mb-3"><a href="tel:0124857985320"><i class="tf-ion-ios-telephone mr-2"></i>
              0124857985320</a></li>
          <li class="mb-3"><a href="mailto:demo@email.com"><i class="tf-ion-email mr-2"></i>demo@email.com</a></li>
          <li class="mb-3"><i class="tf-ion-ios-location mr-2"></i>Dhaka, Bangladedsh
          </li>
        </ul>
      </div>
      
      <div class="col-lg-3 col-sm-6 mb-5">
        
        <h2 class="font-weight-bold mb-4">Opening Hours</h2>
        <ul class="list-unstyled">
          
          <li class="mb-2">Monday: 9:00 – 19:00</li>
          
          <li class="mb-2">Tuesday: 9:00 – 19:00</li>
          
          <li class="mb-2">Wednesday: 9:00 – 19:00</li>
          
          <li class="mb-2">Thursday: 9:00 – 19:00</li>
          
          <li class="mb-2">Friday: 9:00 – 19:00</li>
          
          <li class="mb-2">Saturday: 9:00 – 19:00</li>
          
          <li class="mb-2">sunday: 9:00 – 19:00</li>
          
        </ul>
        
      </div>
    </div>
    
  </div>
</section>

<script src="plugins/jquery/jquery.js"></script>

<script src="plugins/bootstrap/bootstrap.min.js"></script>

<script src="plugins/slick/slick.min.js"></script>

<script src="js/script.js"></script>
</body>
</html>
{% endblock %}